<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/global.css">
    <link rel="stylesheet" href="../../assets/css/usuarios.css">
    <title>Cadastro usuarios</title>
</head>

<body>
    <main>
        <form class="form" id="form_usuario">
            <div>
                <label for="nome">Nome:<input type="text" class="nome" id="nome"></label>
                <label for="email">Email:<input type="email" class="email" id="email"></label>
                <label for="cpf">CPF:<input type="number" class="cpf" id="cpf"></label>
                <label for="dataNascimento">Data Nascimento:<input type="date" class="dataNascimento"
                        id="dataNascimento"></label>
            </div>
            <div>
                <label for="user">Usuario:<input type="text" class="user" id="user"></label>
                <label for="senha">Senha:<input type="password" class="senha" id="senha"></label>
                <label for="senha_confirma">Confirmar Senha:<input type="password" class="senha_confirma" id="senha_confirma"></label>
            </div>

        </form>
    </main>
</body>

</html>